---
layout: post
---

{{content}}

<div class="postscript">
<p>The Little Red Schoolhouse (LRS) is the University of Chicago's idea
of a business composition course.  Formally titled "Academic and
Professional Writing," it teaches a very pragmatic writing style which
prioritizes clarity, relevance, and persuasiveness.  I consider it the
single most useful course I took at the university, and the LRS Rewrites
series is a way for me to keep practicing the lessons learned, by
rewriting short pieces into the style taught at the Little Red
Schoolhouse.</p>

<p>While the original LRS materials are distributed solely via hard copy
at the start of each term, online notes are available for the spin-off
programs at <a
href="http://www.personal.psu.edu/faculty/c/a/caw43/behrendwriting/lrs.html">Penn
State</a> and <a
href="http://redschoolhouse.org/drupal/welcome">UVa</a>.  The LRS
faculty at Chicago also publish a <a
href="http://writing-program.uchicago.edu/toys/sentence.htm">Sentence of
the Week</a> series which critiques and rewrites problematic sentences
submitted "from the wild."</p>
</div>

